<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!--css-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 


  <link rel="stylesheet" href="/styles/style.css">

  <!-- Boxicons CSS -->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <section class="container forms">
    <div class="form signup">
    <header>Signup</header>
    <form action="/signup" method="post" id="form">
      <% if(error){ %>
        <div class="text-danger"><%= error %></div>
        <% } %>
      <div class="field input-field">
        <input type="text" name="firstName" id="firstName" placeholder="First Name" class="input">
        <p class="forValidation" style="font-size:xx-small;color: red;"></p>
      </div>
      <div class="field input-field">
        <input type="text" name="lastName" id="lastName" placeholder="Last Name" class="input">
        <p class="forValidation" style="font-size:xx-small;color: red;"></p>
      </div>
      <div class="field input-field">
        <input type="email"name="email" id="email" placeholder="Email" class="input">
        <p class="forValidation" style="font-size:xx-small;color: red;"></p>
      </div>
      
      <div class="field input-field">
        <input type="password" name="password" id="password" placeholder="Password" class="password">
        <p class="forValidation" style="font-size:xx-small;color: red;"></p>
      </div>
      <div class="field input-field">
        <input type="password"  placeholder="Confirm Password" id="confirmPassword" class="password">
        <i class='bx bx-hide eye-icon'></i>
        <p class="forValidation" style="font-size:xx-small;color: red;"></p>
      </div>

      <div class="field input-field">
        <input type="isReffered" name="isReffered" id="isReffered" placeholder="Reference code if any"  class="isReffered">
        
      </div>

      <div class="field button-field">
        <button type="submit">Signup</button>
      </div>
      <div class="form-link">
        <span>Already have an account? <a href="/login" class="login-link">Login</a></span>

      </div>
    </form>
    </div>
    
    <div >
      <img src="/images/istockphoto-1360868137-612x612.jpg" 
        class="img-fluid" alt="Sample image">
    </div>


  </section>
   <!--JS-->
   <script src="/js/script.js"></script>
   <script src="/js/validation.js"></script>
  
  
</body>
</html>