<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!--css-->

  <link rel="stylesheet" href="/styles/style.css" >

  <!-- Boxicons CSS -->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <section class="container forms">
    <div >
      <img src="/images/man-sitting-desk-with-laptop_988987-20586.avif" 
        class="img-fluid" alt="Sample image">
    </div>



    <div class="form login">
    <header>Login</header>
    <form action="/admin" method="post" id="form">
      <% if(error){ %>
        <div class="text-danger" style="color: red;"><%= error %></div>
        <% } %>
      <div class="field input-field">
        <input type="email" name="email" id="email" placeholder="Email" class="input">
      </div>
      <div class="field input-field">
        <input type="password" name="password" id="password" placeholder="Password" class="password">
        <i class='bx bx-hide eye-icon'></i>
      </div>
      <!-- <div class="form-link">
        <a href="#" class="forgot-pass">Forgot password?</a>
      </div> -->
      <div class="field button-field">
        <button type="submit">Login</button>
      </div>
      
    </form>
    </div>
    
    


  </section>
  <!--JS-->
  <script src="/js/script.js"></script>
  
</body>
</html>