<%- include('../includes/user/userHead') %>

<div style="padding-top: 50px;">
    <div class="bg0 m-t-23 p-b-140">
<div class="container border mt-5">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6">
        <div class="card">
          <div class="card-body">
            
            <h5 class="card-title mb-4">Change Password</h5>
            <form action="/changePassword/<%= useId %>" method="post" id="form">
              <% if(error){ %>
                <div class="text-danger"><%= error %></div>
                <% } %>
              <div class="form-group">
                <label for="currentPassword">Current Password</label>
                <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Your current Password">
                
              </div>
              <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New Password">
                <p class="forValidation" style="font-size:xx-small;color: red;"></p>
              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
                <p class="forValidation" style="font-size:xx-small;color: red;"></p>
              </div>

              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Password has successfully changed
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                  </div>
                </div>
              </div>



              <div class="col d-flex justify-content-end">
                <button class="btn btn-primary" type="submit"data-toggle="modal" data-target="#exampleModalCenter">Change</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<script src="/js/changePasswordValidation.js"></script>
<%- include('../includes/user/userEnd') %>