<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title> Admin Giggle Wardrobe </title>
    <!-- Favicon icon --> 
    
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">
    <link rel="stylesheet" href="/vendor/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendor/owl-carousel/css/owl.theme.default.min.css">
    <link href="/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        #pgHead {
            text-align: center;
            font: bold;
            color: slateblue;

        }
        #subHead {
            font :bold;
            color: rgb(124, 116, 180)
        }

        .d-flex {
            display: flex;
        }
    
        .icon-container {
            position: relative;
            margin-right: 10px;
            height: 15%;
        }
    
        .message {
            position: absolute;
            display: none;
            cursor: pointer;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
    
        .icon-container:hover .message {
            display: block;
        }
        .bx-block ::before{
            color: green;
        }
        .bx-block ::after{
            color: red;
        }
        
        .table{
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        .tabHead{
            margin-right: 10px; 
            border: 1px solid #dddddd;
            color: rgb(48, 45, 45);
            height: 50px;
            text-align: center;
        }
        .tabData{
            border: 1px solid #dddddd;
            color: rgb(112, 90, 90);
            padding: 10px;
        }




    </style>
</head>

<body>