<!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    
                    <li><a class="" href="/dashboard" aria-expanded="false"><i
                        class="icon icon-app-store"></i><span class="nav-text">Dashboard</span></a>                        
            </li>
                   <br>
                   <!-- href="javascript:void()" -->
                    <li><a class="" href="/products" aria-expanded="false"><i
                                class="icon icon-app-store"></i><span class="nav-text">Products</span></a>                        
                    </li>
                    <br>

                    <li><a class="" href="/category" aria-expanded="false"><i
                                class="icon icon-chart-bar-33"></i><span class="nav-text">Category</span></a>                    
                    </li>
                    <br>

                    <li><a class="" href="/orders" aria-expanded="false"><i
                        class="icon icon-chart-bar-33"></i><span class="nav-text">Orders</span></a>                   
                     </li>
                     <br>

                     <li><a class="" href="/customers" aria-expanded="false"><i
                        class="icon icon-chart-bar-33"></i><span class="nav-text">Customers</span></a>                    
                     </li>
                     <br>

                     <li><a class="" href="/offers" aria-expanded="false"><i
                        class="icon icon-chart-bar-33"></i><span class="nav-text">Offers</span></a>                    
                    </li><br>

                    <li><a class="" href="/coupons" aria-expanded="false"><i
                        class="icon icon-chart-bar-33"></i><span class="nav-text">Coupons</span></a>                    
                     </li><br>
<!-- 
                     <li><a class="" href="/banners" aria-expanded="false"><i
                        class="icon icon-chart-bar-33"></i><span class="nav-text">Banners</span></a>                    
                    </li><br> -->
                    <li><a class="" href="/salesreport" aria-expanded="false"><i
                        class="icon icon-chart-bar-33"></i><span class="nav-text">Sales Report</span></a>                    
                    </li>
                   
                </ul>
            </div>


        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
